services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - postgres

  backend-e2e:
    build: ./backend
    env_file:
      - .env
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
    depends_on:
      - postgres
    command: ["npm", "run", "test:e2e"]


  postgres:
    container_name: postgres_db
    image: postgres:16
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./data_init/init.sql:/docker-entrypoint-initdb.d/init.sql

  adminer:
    container_name: adminer_ui
    image: adminer
    ports:
      - "5050:8080"
    depends_on:
      - postgres

volumes:
  postgres_data: