.create-form{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 1rem;
}

.create-form label{
    color: white;
}

.create-form button{
    background-color: red;
    padding: 1rem;
    border-radius: 2rem;
}
.create-form button:hover{
    background-color: rgb(139, 1, 1);
}

.create-form input{
    background-color: rgb(59, 59, 59);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
    font-size: large;
}