.login-form{
    display: flex;
    flex-direction: column;
    width: 80%;
gap: 1rem;
}

.login-form label{
    color: white;
}

.login-form button{
    background-color: red;
    padding: 1rem;
}
.login-form button:hover{
    background-color: rgb(139, 1, 1);
}