.home{
  width: 100%;
}
.home-page {
  padding: 2rem;
  color: white;
  min-height: 80vh;
}

.section-title{
  color: white;
}

.home-page h2 {
  text-align: center;
  margin-bottom: 2rem;
  width: 99%;
}

.content-grid {
  display: flex;
  gap: 1.5rem;
  width: 80vw;
}

.content-card {
  background: #181818;
  padding: 1rem;
  border-radius: 10px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.content-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 14px rgba(229, 9, 20, 0.4);
}

.content-card h3 {
  margin-bottom: 0.5rem;
  color: white;
}

.content-card .type {
  font-size: 0.85rem;
  color: #aaa;
}

.content-card .desc {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.content-card p{
  color: white;
}
